<ul class="nav nav-tabs list-inline">
	<li class="<%= 'active' if current_page?(shop_path(shop)) %>">
	  <%= link_to shop_path(shop) do %>投稿 <span class="badge"></span><% end %>
	</li>
	<li class="<%= 'active' if current_page?(offer_shop_path(shop)) %>">
	  <%= link_to offer_shop_path(shop) do %>募集内容 <span class="badge"></span><% end %>
  </li>	
	<li class="<%= 'active' if current_page?(shop_info_shop_path(shop)) %>">
	  <%= link_to shop_info_shop_path(shop) do %>お店情報 <span class="badge"></span><% end %>
	</li>
	<li class="<%= 'active' if current_page?(company_info_shop_path(shop)) %>">
	  <%= link_to company_info_shop_path(shop) do %>会社概要 <span class="badge"></span><% end %>
  </li>
</ul>