<h1><%= @shop.shop_name %></h1>
<ul>
  <li><%= @shop.company_name %></li>
  <li><%= @shop.url %></li>
  <li><%= @shop.staff_name %></li>
  <li><%= @shop.email %></li>
  <li><%= @shop.tel %></li>
</ul>
<p><%= link_to 'プロフィール編集', edit_shop_registration_path(current_shop) %></p>

