<p>
  <% if @shop.image? %>
    <%= image_tag @shop.image.url, :class => "full-width" %>
  <% else %>
    <%= image_tag 'default-shop_img.jpg', :class => "full-width" %>
  <% end %>
</p>
<%= render 'shops/header', shop: @shop %>
<%= render 'shops/tabs', shop: @shop %>

<% #binding.pry %>
<p class="shop-info-title">お店ストーリー</p>

<% if @shop.story.nil? %>
  <% if shop_signed_in? && @shop.id == current_shop.id %>
    <%= render 'stories/new', shop: @shop %>
  <% else %>
    <%= render 'stories/show_empty', shop: @shop %>
  <% end %>
<% else %>
  <% if @shop.story.draft == false %>
    <%= render 'stories/show', shop: @shop %>
  <% else %>
    <% if shop_signed_in? && @shop.id == current_shop.id %>
      <%= render 'stories/show', shop: @shop %>
    <% else %>
      <%= render 'stories/show_empty', shop: @shop %>
    <% end %>
  <% end %>  
<% end %>