<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
    <p class="user-logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
  <% end %>
<% end %>
<div class="container">
  <ul class="list-inline">
    <% if @user.image? %>
      <li class="user-image"><%= image_tag @user.image %></li>
    <% end %>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <li class="user-prof-edit">
          <%= link_to 'プロフィール編集', edit_user_registration_path(@user), type:"button", class:"btn btn-default" %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p class="user-name">
    <%= @user.user_name %> さん
    <% if @user.location? %><br/><i class="fas fa-map-marker-alt"></i>&nbsp;<%= @user.location %><% end %>
  </p>
</div>

<%= render 'users/tabs', user: @user %>
<%= render 'posts/posts-grid', posts: @user.posts %>