<div class="shop-admin-menu">
  <% if shop_signed_in? %>
    <% if shop.id == current_shop.id %>
      <ul class="list-inline">
        <% if shop.story.draft == true %>
          <li class="draft">※下書き</li>
        <% end %>
        <li class="shop-edit"><%= link_to '編集', edit_story_path(shop.story), type:"button", class:"btn btn-default" %></li>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="story-article">
  <p class="title"><%= shop.story.title %></p>
</div>

<% if shop.story.image? %>
  <p><%= image_tag shop.story.image.url, :class => "full-width" %></p>
<% end %>
  
<div class="story-article">  
  <p class="subtitle">お店の始まりは？</p>
  <%= simple_format(shop.story.origin, :class => "paragraph") %>
    
  <p class="subtitle">これだけは食べてほしいお勧めメニューは？</p>
  <%= simple_format(shop.story.recommend, :class => "paragraph") %>
    
  <p class="subtitle">お店の雰囲気は？</p>
  <%= simple_format(shop.story.atmosphere, :class => "paragraph") %>
</div>