<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Staffmeal</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- app/assets/stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- app/assets/javascripts-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--郵便番号から住所を検索-->
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
  </head>

  <body>
    <!--wrapper_pc/spは後で消す-->
    <div id="wrapper_pc">スマートフォンでご覧ください<br/>（画面の横幅を767px以下にしてください）</div>
    
    <div id="wrapper_sp">
      <%= render 'layouts/header' %>
      <%= yield %>

      <% if shop_signed_in? %>
        <% unless current_page?(new_post_path) %>
          <p id="camera"><%= link_to new_post_path do %><i class="fa fas fa-camera fa-fw" style="font-size:2.4rem;"></i><% end %></p>
        <% end %>
      <% else %>
        <p id="pageTop"><a href=""><i class="fa fas fa-chevron-up fa-fw" style="font-size:2.4rem;"></i></a></p>
      <% end %>
      
      <%= render 'layouts/footer' %>
    </div>
    
    <!--Font Awesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  </body>
</html>